.hidden-container {
    overflow: hidden;
}

.main-introduction {
    width: 100%;
    overflow: hidden;
}

.container {
    width: var(--container-width);
    display: block;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

.col-md-9 {
    float: right;
    position: relative;
    width: 76%;
}

.center {
    text-align: center;
    padding: 0px 30px;
}

.center img {
    object-fit: fill;
    width: 100%;
}

.introductionParagraph {
    text-align: justify;
    padding: 0px 30px;
}