.hidden-container {
    overflow: hidden;
}

.bannerPage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerPage > img {
    height: 180px;
    object-fit: cover;
}

.container {
    width: var(--container-width);
    display: block;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    float: left;
    position: relative;
}

.bannerImage {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.titleLienHe {
    position: absolute;
    text-align: center;
    z-index: 9;
    display: block;

    color: white;
    margin: 0;
    margin-bottom: 20px;
    font-size: 45px;
    text-transform: uppercase;
}

.col-md-9 {
    float: right;
    position: relative;
    width: 76%;
}

.center {
    text-align: center;
    padding: 0px 30px;
}

.center img {
    object-fit: fill;
    width: 100%;
}

.introductionParagraph {
    text-align: justify;
    padding: 0px 30px;
}