.slider {
    position: relative;
    width: 100%;
}

.slider-images {
    width: 100%;
    height: 500px;
}

.slider-content {
    position: absolute;
    width: 40%;
    left: 90px;
    bottom: 120px;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 30px 20px 40px;
}

.slider-content h2 {
    font-size: 25px;
    font-weight: 700;
    color: var(--primary-color);
}

.slider-content img {
    width: 30%;
    margin: 10px 0;
}
