.container {
    width: var(--container-width);
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.container .row-news {
    position: relative;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.block-news .item-news.item-normal .item-wrap {
    box-shadow: 0px 4px 8px #00000029;
    border: 1px solid #0097ff;
    border-radius: 24px;
    margin-bottom: 30px;
}

.block-news .item-news.item-normal .item-wrap .item-thumb {
    position: relative;
    margin-bottom: 8%;
}

.block-news .item-news.item-normal .item-wrap .item-thumb img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 24px 24px 0 0;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
}

.block-news .item-news.item-normal .item-wrap .type-news {
    position: absolute;
    left: 20px;
    bottom: -5%;
}

.block-news .item-news.item-normal .item-wrap .type-news a {
    text-decoration: none;
    padding: 7px 20px;
    background-color: #004880;
    box-shadow: 0px 4px 8px #00000041;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    border-radius: 30px;
}

.block-news .item-news.item-normal .item-wrap .caption-item {
    position: relative;
    padding: 0 20px;
    margin-bottom: 15px;
    height: 120px;
    word-wrap: break-word;
}

.block-news .item-news.item-normal .item-wrap .caption-item h4 {
    font-size: 20px;
}

.block-news .item-news.item-normal .item-wrap .read-more {
    padding: 10px 20px 15px 20px;
    display: flex;
}

.block-news .item-news.item-normal .item-wrap .caption-item h4 a {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    color: #004b86;
    letter-spacing: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 80px;
}

@media (max-width: 767.5px) {
    .container {
        padding: 0 15%;
    }
}
