.body-dichvu {
    width: 100%;
    overflow: hidden;
}

.container {
    width: var(--container-width);
    display: block;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

.content {
    width: 76%;
    display: block;
    overflow: hidden;
    padding: 0 30px;
}

.main-content {
    display: block;
    width: 100%;
    height: 400px;
    scroll-margin-top: 150px;
    // color: black !important;
}

.main-content .content-img {
    width: 50%;
    height: 100%;
}

.main-content .content-img img {
    width: 100%;
    height: 100%;
}

.main-content .content-text {
    width: 50%;
}

.right {
    float: right;
}

.right img {
    float: right;
}

.content-text.right {
    text-align: right;
    padding-left: 10px;
}

.content-text.left {
    padding-right: 10px;
}

.left {
    float: left;
}

.content-text .text {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 29px;
}

.content-img.right {
    padding-left: 10px;
}

.content-img.left {
    padding-right: 10px;
}

.anchor {
    color: red !important;
}