.body-dichvu {
    width: 100%;
    overflow: hidden;
}

.container {
    width: var(--container-width);
    display: block;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

.content {
    width: 76%;
    display: block;
    overflow: hidden;
    padding: 0 30px;
}

.main-content {
    display: block;
    width: 100%;
    overflow: hidden;
}

.main-content .content-img {
    width: 30%;
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
}

.main-content .content-img img {
    width: 100%;
}

.main-content .content-text {
    width: 70%;
    padding-top: 10px;
}

.right {
    float: right;
}

.content-img.right {
    padding-left: 30px;
    padding-right: 5px;
}

.right img {
    float: right;
}

.content-text.right {
    text-align: right;
}

.left {
    float: left;
}

.content-img.left {
    padding-right: 30px;
    padding-left: 5px;
}

.content-text .text {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 29px;
}